<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="9.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.25.0" manuallyInstalled="true" />
  <package id="OpenCvSharp4.runtime.wasm" version="4.11.0.20250507" manuallyInstalled="true" />
  <package id="Roslynator.Analyzers" version="4.14.1" manuallyInstalled="true" />
</packages>